<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4"><strong>All Order</strong></h1>
    </div>
  </div>
</div>


<div class="container">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th class="mx-auto text-center">Image</th>
        <th class="mx-auto text-center">Name</th>
        <th class="mx-auto text-center">Description</th>
        </tr>
    </thead>
    <tbody>
        <% @order.each do |item| %>
        <tr>
            <td>
            <%= image_tag item.subitem.image, class: 'rounded-top', style: 'max-width: 100%; height: 100px;' %>
            </td>
            <td><strong><%= item.subitem.title %></strong></td>
            <td><%= item.subitem.description.truncate(200) %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
