<div class="container d-flex justify-content-center align-items-center">
<div class="text-center">
  <h1><strong>Admin Dash Board</strong></h1>
</div>
</div>


<div class="container text-center mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary", style="background: #e6fcfc">
        <div class="card-body">
          <h3><strong>Manage Subitem</strong></h3>
          <hr>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <hr>
          <h1><strong><a href="/admin/subitem" class="link-primary btn", style="background: #3fd1c0">Manage SubItem</a></strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary", style="background: #e6fcfc">
        <div class="card-body">
          <h3><strong>Manage Item</strong></h3>
          <hr>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <hr>
          <h1><strong><a href="/adminitem" class="link-primary btn", style="background: #3fd1c0">Manage Item</a></strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary", style="background: #e6fcfc">
        <div class="card-body">
          <h3><strong>Manage Order</strong></h3>
          <hr>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <hr>
          <h1><strong><a href="/adminOrder" class="link-primary btn", style="background: #3fd1c0">Manage Order</a></strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>

