<div class="container">
      <div class="row">
            <% @subitems.each do |item| %>
                  <div class="col-md-4 "> <!-- Added mb-3 class to reduce space between cards -->
                        <div class="card mb-5" style="border-radius: 15px; width: 280px; height: 380px;">
                              <% if item.image.present? %>
                                    <%= image_tag item.image, style: "max-width: 100%; max-height: 200px; display: block; margin: 0 auto; border-radius: 15px;" %>
                              <% end %>
                              <div class="card-body text-dark Larger shadow" style="background: #d1e8d7; border-radius: 15px; ">

                                    
                              <h5 class="text-center mt-3"><strong><%= item.title %></strong></h5>
                              

                                          <p class="card-text"><strong class="text-danger">Price</strong> <strong><%= item.price %> Rs</strong>

                                          <a href="show/<%= item.id %>" class="btn btn-danger float-end ml-5">Details</a></p>
                                          


                          
                              </div>
                        </div>
                  </div> 
                        
            <% end %>
      </div>
</div>


