<h1 class="text-center"><strong>Category Of Dinner Dash</strong></h1>
<div class = 'd-flex'>

    <% @items.each do |item| %>   

            <div class="card mx-auto mt-5 Larger shadow" style="width: 30rem; border-radius: 25px; padding: 10px;">

                        <%= image_tag item.image%>
                        
                  <div class="card-body bg-info text-white">
                        <h5 class = 'text-center'><%=item.name%></h5>
                        <p class="card-text"><%=item.description%></p>
                        <%= link_to "More",subitem_path(item.id),class:'btn btn-dark text-center'%>
                  </div>
            </div>

    <% end %>

</div>



