<h1 class="text-center"><strong>Category Of Dinner Dash</strong></h1>

<div class="d-flex flex-wrap justify-content-center">

  <% @items.each do |item| %>

    <div class="card mx-3 my-3" style="max-width: 28rem; border-radius: 25px; border: 1px solid #ccc;">
    <%= image_tag item.image, class: 'card-img-top rounded-top', style: 'clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);' %>

      <div class="card-body" style="background: #d1e8d7; border-radius: 25px; ">
        <h5 class="card-title text-center"><strong><%= item.name %></strong></h5>
        <p class="card-text"><%= item.description %></p>
        <a href="<%= subitem_path(item.id) %>" class="btn btn-block text-white", style="background: #3fd1c0">More</a>
      </div>
    </div>

  <% end %>

</div>

